.c-sor_point {
  cursor: pointer;
}

.d_flex {
  display: flex;
}

.direction_col {
  flex-direction: column;
}

.align_center {
  align-items: center;
}

.justify_start {
  justify-content: start;
}
  
.justify_center {
  justify-content: center;
}

.justify_space-evenly {
  justify-content: space-evenly;
}

.justify_space-between {
  justify-content: space-between;
}

.justify_end {
  justify-content: end;
}

.f_wrap {
  flex-wrap: wrap;
}